
<div class="row">
  <div class="col-11">
    <h1 mat-dialog-title>Crear Submenu</h1>

  </div>
  <div class="col-1">
    <app-button
      style="float: right;"
        [classButton]="'btn-close'"
        (click)="closeDialogCreateSubmenu()"
      ></app-button>
   <!--  <button
  style="position: absolute;"
          type="button"
          (click)="closeDialogCreateSubmenu()"
          class="btn-close"
          aria-label="Close"
        ></button> -->
  </div>
</div>
<div mat-dialog-content>
  <form class="row g-3" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="col-8 m-3">
      <label for="category" class="form-label mt-2">Categoria</label>
      <select
        id="category"
        class="form-select"
        aria-label="Default select example"
        name="category"
        [(ngModel)]="category"
      >
        <option *ngFor="let category of categories" [ngValue]="category">
          {{ category.name }}
        </option>
      </select>
    </div>

    <div class="modal-footer">
      <app-button
      style="float: right;"
      [typeButton]="'submit'"
        [classButton]="'btn btn-primary'"
        [name]="'Crear'"
      ></app-button>
      <!-- <button type="submit" class="btn btn-primary m-1">Crear</button> -->
    </div>
  </form>
</div>
