<h1 mat-dialog-title>Crear Submenu</h1>
<div mat-dialog-content>
  <form class="row g-3" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="col-8 m-3">
      <label for="category" class="form-label mt-2">Categoria</label>
      <select
        id="category"
        class="form-select"
        aria-label="Default select example"
        name="category"
        [(ngModel)]="category"
      >
        <option *ngFor="let category of categories" [ngValue]="category">
          {{ category.name }}
        </option>
      </select>
    </div>

    <div class="modal-footer">
      <button
        style="width: 70px"
        type="button"
        class="btn btn-secondary"
        (click)="closeDialogCreateSubmenu()"
      >
        Cerrar
      </button>
      <button type="submit" class="btn btn-primary m-1">Crear</button>
    </div>
  </form>
</div>
