<div
  *ngIf="modalDetailCategoryService.modal"
  class="modal"
  tabindex="-1"
  style="display: block"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-6">
            <h5 class="modal-title">
              <div
                class="container row-1"
                style="font-weight: bold; font-size: x-large"
              >
                <div class="col-6 mb-2">Nombre:</div>
                <div class="col-6">
                  {{ category.name }}
                </div>
              </div>
            </h5>
          </div>
        </div>

        <button
          type="button"
          (click)="closeModal()"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="row container">
        <div class="modal-body row">
          <div class="col-6">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h3 style="font-weight: bold" class="display-4">Descripcion</h3>
                <p class="lead">{{ category.description }}</p>
              </div>
            </div>
            sdfksdl;f
          </div>

          <div class="col-6">
            <img
              src="http://localhost:8080/api_store/categories/upload/img/{{
                category.photo
              }}"
              alt=""
              class="img-thumbnail rounded"
            />
            <div class="container m-2">
              <label for="formFile" class="form-label"
                >Subir Foto del producto</label
              >
              <input
                (change)="seleccionarFoto($event)"
                class="form-control"
                type="file"
                id="formFile"
              />
              <button
                class="btn btn-primary m-2"
                type="button"
                (click)="subirFoto()"
              >
                Subir Foto
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          (click)="closeModal()"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
