
  <mat-grid-list cols="4" rowHeight="2:2">
    <mat-dialog-content class="mat-typography" style="width: 800px;">
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <h3 class="m-2">Nombre de la Categoria: {{ data.category.name | uppercase }}</h3>
      <img
      src="http://localhost:8080/api_store/categories/upload/img/{{
        category.photo
      }}"
      alt=""
      class="img-thumbnail rounded"
      style="width: 150px"
    />
        </mat-card-content>
      </mat-card>
      
    </mat-grid-tile>
      <mat-grid-tile>

        <mat-card>
          <mat-card-content>
            <h3>Description</h3>
            <p>{{ data.category.description }}</p>
          </mat-card-content>
        </mat-card>
        
       
      </mat-grid-tile>
    
  
 
    
    <mat-grid-tile> 
      <mat-card>
        <mat-card-content>
          <h3>Listado de Productos</h3>
      <mat-list role="list">
        <mat-list-item
          role="listitem"
          *ngFor="let product of data.category.productList"
          >{{ product.name }}</mat-list-item
        >
      </mat-list>
        </mat-card-content>
      </mat-card>
      
        </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <h3>Subir Foto</h3>
      <input
        (change)="selectPhoto($event)"
        class="form-control"
        type="file"
        id="formFile"
      />
      <button class="btn btn-primary m-2" type="button" (click)="uploadPhoto()">
        Subir Foto
      </button>
        </mat-card-content>
      </mat-card>
      
        
    </mat-grid-tile>
  </mat-dialog-content>
  </mat-grid-list>
  

  <div mat-dialog-actions>
    <button mat-flat-button color="warn" mat-dialog-close>Close</button>
  </div>


  




  

  
