<app-detail-product
  *ngIf="productDetail"
  [product]="productDetail"
></app-detail-product>


<!-- Default Card -->
<div class="card">
  <div class="card-body">
    <h3 class="card-title" style="font-weight: lighter">
      Listado de Productos
    </h3>
    <div class="mb-2">
      <button type="button" class="btn btn-primary" (click)="openCreateProduct()">
        <i class="bi bi-plus-circle"></i> Crear
      </button>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="products">
        <ng-container matColumnDef="id">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="font-size: large; font-weight: bold"
          >
            No
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="openDetailProduct(element)">
              {{ element.id }}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef style="font-size: large">
            Nombre
          </th>
          <td mat-cell *matCellDef="let element" style="font-size: larger">
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef style="font-size: large">
            Descripcion
          </th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef style="font-size: large">
            Precio
          </th>
          <td mat-cell *matCellDef="let element">{{ element.price }}</td>
        </ng-container>

        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef style="font-size: large">
            Actualizar
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              type="button"
              class="btn btn-primary"
              (click)="openUpdateProduct(element)"
            >
              <i class="bi bi-shield-fill-plus"></i>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef style="font-size: large">
            Eliminar
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteProduct(element.id)"
            >
              <i class="bi bi-x-lg"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]=""
        [pageSizeOptions]="[5, 10, 20]"
        [pageSize]="3"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
<!-- End Default Card -->
