<!-- Basic Modal -->
<div
  *ngIf="modalCreateMenuService.modal"
  class="modal"
  style="display: block"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear Menu</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Multi Columns Form -->
        <form
          class="row g-3"
          (ngSubmit)="onSubmit()"
          [formGroup]="createMenuForm"
        >
          <div class="col-md-6">
            <label for="name" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
            />
          </div>

          <div class="col-12">
            <label for="category" class="form-label">Categoria</label>
          <select id="category" class="form-select" formControlName="category">
            <option selected *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
            
          </select>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="closeModal()"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary">Crear</button>
          </div>
        </form>
        <!-- End Multi Columns Form -->
      </div>
    </div>
  </div>
</div>
<!-- End Basic Modal-->


